body {
    background-color: #222831;
    margin: 0;
}

.title {
    color: #03CFAA;
}

header {
    background-color: #1A1D22;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 15px;
    padding: 0px 0px;
    width: 100%;
    position: relative;
}

.logo {
    width: 25%;
}


h2 {
    text-align: center;
    color: #03CFAA;
}

.missao {
    text-align: center;
    color: #fff;
}

.imgns {
    width: 95%;
    margin: 0 auto
}

.imgat {
    width: 100%;
    opacity: 80%;
}

.texto-atividade {
    color: #fff;
    text-align: center;
}

.ht {
    background-image: url(./img/horta.png);
}

.rv {
    background-image: url(./img/agua.png);
}

.tn {
    background-image: url(./img/trilha.png);
}

.ds {
    background-image: url(./img/dicas.png);
}

.atv {
    background-size: 100%;
    height: 63vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#menu {
    display: flex;
}

.links {
    display: none;
    position: absolute;
    top: 100%;
}

.menuzin:checked ~ .links{
    display: block;
}

ul li{
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
}
@media screen and (min-width: 1024px) {
    .imgat {
        width: 50%;
        opacity: 80%;
    }

    .imgns {
        width: 100%;
    }
}