body {
    background-color: #222831;
    margin: 0;
}

.title {
    color: #03CFAA;
}

header {
  background-color: #1A1D22;
  color: #fff;
  display: grid;
  align-items: center;
  margin: 0 0 15px;
  padding: 0px 0px;
  width: 100%;
  position: relative;
  grid-template-columns: 80% 20%;
  justify-items: center;
}

.site {
  display: flex;
  align-items: center;
}

.menuzin:checked + label + .links {
  display: block;
  position: absolute;
  top: 70%;
  right: 0;
  background-color: #1A1D22;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  padding: 10px;
}

.logo {
    width: 25%;
}

h2 {
    text-align: center;
    color: #03CFAA;
}

.missao {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}
/* flex-direction: row*/

.missao p {
  width: 80%;
  margin: 10px auto 10px;
  display: flex;
  justify-content: center;
}

.texto-missao {
  display: flex;
  flex-direction: column;
}


.imgns {
    width: 95%;
    margin: 0 auto;
}

.imgat {
    width: 100%;
    opacity: 80%;
}

.texto-atividade {
    color: #fff;
    text-align: center;
}

.ht {
    background-image: url(./img/horta.png);
}

.rv {
    background-image: url(./img/agua.png);
}

.tn {
    background-image: url(./img/trilha.png);
}

.ds {
    background-image: url(./img/dicas.png);
}

.atv {
  background-position: center;
  background-size: cover;
  height: 63vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 20px;
}

.atv:hover {
  font-size: 1.4em;
  text-decoration: underline;
  color: white;
  border: solid 1px;
  border-radius: 20px;
}

#menu {
    display: flex;
    width: 47px;
    height: 28px;
    border-color: #1A1D22;
}

ul li{
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
}

.formulario {
  width: 80%;
  padding: 5%;
  border-radius: 37px;
  background-color: #D9D9D9;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

#text{
  width: 80%;
  height: 30px;
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

.botao {
  display: flex;
  align-items: center;
}
  
.menuzin {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.menuzin:checked ~ .links {
  display: block;
}

.links {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: #cbcbcb;
}

#check {
  cursor: pointer;
}
  
@media (max-width: 768px) {
  .links {
    display: none;
  }
  .menuzin:checked ~ .links {
    display: block;
  }
  #check {
    display: block;
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
.menuzin:checked ~ ul {
  display: block;
}
  
ul {
  display: none;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: Arial;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  background-color: #008CBA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #6928ff;
}

label {
  font-family: Arial;
}

@media (max-width: 1440px) {
  .atv {
    height: 23vw;
    width: 40vw;
  }

  .atividades {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .formulario {
    width: 70%;
  }

  .missao {
    flex-direction: row
  }
}