html{
    background-color: #222831;
}

.title{
    color: #03CFAA;
}
header{
    background-color: #1A1D22;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 35px;
}

element-style{
padding: 0px 30px;
border: solid rgb(255, 255, 255);
border-width: 0 1px;
}